<p id="notice"><%= notice %></p>

<p>
  <strong>Parent:</strong>
  <%= @link.page_id %>
</p>

<p>
  <strong>Child:</strong>
  <%= @link.child_id %>
</p>

<p>
  <strong>Order:</strong>
  <%= @link.order %>
</p>

<p>
  <strong>Body:</strong>
  <%= @link.body %>
</p>

<%= link_to 'Edit', edit_link_path(@link) %> |
<%= link_to 'Back', links_path %>
